* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background: #2c3e50;
    color: white;
    padding: 25px 25px;
    display: flex;
    align-items: center;
}

/*MAIN LAYOUT*/
.main {
    display: flex;
    height: calc(100vh - 60px);
}

/* SIDEBAR*/
.sidebar {
    width: 220px;
    background: #34495e;
    color: white;
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 20px;
}

/* SEPARATE MENU ITEMS WITH LINE */
.sidebar a {
    display: block;
    padding: 12px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.2s ease;
}

/* REMOVE LAST LINE */
.sidebar a:last-child {
    border-bottom: none;
}

.sidebar a:hover {
    background: #2c3e50;
    padding-left: 15px;
    border-radius: 4px;
}

/* CONTENT */
.content {
    flex: 1;
    background: #f4f6f8;
    padding: 30px;
    overflow-y: auto;
}

/* DASHBOARD CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.icon {
    font-size: 40px;
}

.card p {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
}

/* CARD COLORS */
.red { background: #e74c3c; }
.blue { background: #3498db; }
.green { background: #2ecc71; }
.orange { background: #f39c12; }

/* ADD TASK CARD */
.add-task-card {
    width: 420px;
    min-height: 320px;
    margin: 80px auto;

    background: white;
    color: #111827;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
}

/* HEADING */
.add-task-card h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* INPUT */
.add-task-card input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    margin-bottom: 18px;
}

.add-task-card input:focus {
    border-color: #2563eb;
    outline: none;
}

/* BUTTON */
.add-task-card button {
    padding: 12px;
    width: 100%;
    background: #2563eb;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.add-task-card button:hover {
    background: #1e40af;
}

/* SUCCESS MESSAGE */
.success {
    margin-top: 15px;
    color: #16a34a;
    text-align: center;
    transition: opacity 0.5s;
}

/* TASK LIST */
.task-list-card {
    width: 100%;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

#taskList li {
    background: #ecf0f1;
    margin: 8px 0;
    padding: 10px 14px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* DELETE BUTTON */
.delete-btn {
    background:  #2c3e50;
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: #dc2626;
}
