<!DOCTYPE html>
<html>
<head>
    <title>Task Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- HEADER -->
<div class="header">
    <h2>Todo List</h2>
    
</div>

<!-- MAIN -->
<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h3>Menu</h3>
        <a onclick="showDashboard()">🏠 Dashboard</a>
        <a onclick="showAddTask()">➕ Add Task</a>
        <a onclick="showTasks()">📋 View Tasks</a>
        <a onclick="logout()">🚪 Logout</a>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <!-- DASHBOARD CARDS -->
        <div id="summaryCards" class="cards">
            <div class="card red">
                <div class="icon">📋</div>
                <h4>Total Tasks</h4>
                <p id="totalTasks">0</p>
            </div>

            <div class="card blue">
                <div class="icon">✅</div>
                <h4>Completed</h4>
                <p id="completedTasks">0</p>
            </div>

            <div class="card green">
                <div class="icon">⏳</div>
                <h4>In Progress</h4>
                <p id="progressTasks">0</p>
            </div>

            <div class="card orange">
                <div class="icon">🕒</div>
                <h4>Yet To Start</h4>
                <p id="pendingTasks">0</p>
            </div>
        </div>

        <!-- ADD TASK -->
        <div id="addTaskBox" class="add-task-card" style="display:none;">
            <h1>Add Task</h1>

        
            <input id="taskInput" type="text" placeholder="Enter task">

            <button onclick="addTask()">Add Task</button>

            <p id="msg" class="success"></p>
        </div>

        <!-- TASK LIST -->
        <div id="taskListBox" class="task-list-card" style="display:none;">
            <h3>Your Tasks</h3>
            <ul id="taskList"></ul>
        </div>

    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
